.container__background_module {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

.container__background_module.active {
    background: lightgray;
    width: 100%;
    height: 100%;
    opacity: 1;
    /*pointer-events: all;*/
}

@media screen and (min-width: 768px) {
    .container__background_module.active {
        display: flex;
        justify-content: center;
    }
}

.container__content_module {
    background: rgba(255, 255, 255, 0);;
    position: fixed;
    width: 100%;
    height: 100%;
    /*pointer-events: none;*/
    opacity: 0;
}

.container__content_module.active {
    background: rgba(255, 255, 255, 1);;
    opacity: 1;
    pointer-events: all;

    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .container__content_module.active {
        margin-top: 120px;
        max-width: 50%;
        max-height: 768px;
        border-radius: 30px;
        padding: 20px;
    }
}
@media screen and (min-width: 1440px) {
    .container__content_module.active {
        margin-top: 120px;
        max-width: 70%;
        max-height: 768px;
        border-radius: 30px;
        padding: 20px;
    }
}
