.container__background_module {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

.container__background_module.active {
    background: lightgray;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .container__background_module.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container__content_module {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.container__content_module.active {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    pointer-events: all;
    min-height: 100%;
    overflow-y: auto;
}
.container__content_module.active::-webkit-scrollbar{
    width: 25px;
}
.container__content_module.active::-webkit-scrollbar-track{
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    border-radius: 0;
}
.container__content_module.active::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 0;
}


@media screen and (min-width: 768px) {
    .container__content_module.active {
        max-width: 50%;
        border-radius: 30px;
        padding: 0 10px 10px 10px ;
        min-height: 60%;
    }
    .container__content_module.active::-webkit-scrollbar-track{
        background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
        border-radius: 0 30px 30px 0;
    }
    .container__content_module.active::-webkit-scrollbar-thumb{
        background-color: grey;
        border-radius: 0 30px 30px 0;
    }

}
@media screen and (min-width: 1440px) {
    .container__content_module.active {
        max-width: 70%;
    }
}
